<tbody>
    <tr id="rule-form-{{ rule.id }}">
        <td>
            <input name="name" placeholder="name" value="{{ rule.name }}">
        </td>
        <td>
            {% for pattern in rule.patterns %}
            <input name="patterns" placeholder="pattern" value="{{ pattern }}">
            {% endfor %}
            <button hx-get="/pattern-input" hx-swap="beforebegin">Add another trigger</button>
        </td>
        <td>
            {% for response in rule.responses %}
            <input name="responses" placeholder="response" value="{{ response }}">
            {% endfor %}
            <button hx-get="/response-input" hx-swap="beforebegin">Add another response</button>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <button hx-post="/rules" hx-target="closest tbody" hx-include="#rule-form-{{ rule.id }}">Save</button>
        </td>
    </tr>
</tbody>