<tbody>
    <tr id="{{ id }}">
        <td>
            <input name="name" placeholder="name">
        </td>
        <td>
            <input name="patterns" placeholder="pattern">
            <button hx-get="/pattern-input" hx-swap="beforebegin">Add another trigger</button>
        </td>
        <td>
            <input name="responses" placeholder="response">
            <button hx-get="/response-input" hx-swap="beforebegin">Add another response</button>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <button hx-post="/rules" hx-target="closest tbody" hx-include="#{{ id }}">Create</button>
        </td>
    </tr>
</tbody>