<table>
    <caption>Rules</caption>
    <thead>
        <tr>
            <th>name</th>
            <th>trigger</th>
            <th>responses</th>
        </tr>
    </thead>

    {% for rule in rules %}
    <tbody>
        <tr id="rule{{ rule.id }}"">
            <td>
                <div style=" display: flex;">
            {{ rule.name }}
            <button hx-get="/modify-rule-form" hx-target="closest tbody" hx-swap="outerHTML"
                hx-include="#modify-rule-{{ rule.id }}">✏️</button>
            <input id="modify-rule-{{ rule.id }}" name="rule_id" type="hidden" value="{{ rule.id }}">
            </div>
            </td>
            <td>
                <table>
                    {% for pattern in rule.patterns %}
                    <tr>
                        <td>{{ pattern }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
            <td>
                <table>
                    {% for response in rule.responses %}
                    <tr>
                        <td>{{ response }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </tbody>
    {% endfor %}
    <tbody id="add-new-rule">
        <tr>
            <td colspan="3">
                <button hx-get="/new-rule-form" hx-target="#add-new-rule" hx-swap="beforebegin">Add +</button>
            </td>
        </tr>
    </tbody>
</table>